<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center light-blue-text"><i class="material-icons">person</i></h1>
            <h2 class="center"><%= link_to 'Employee', employees_path %></h2>
          </div>
        </div>
        
         <div class="col s12 m4" style="position:relative; bottom:-350px;">
          <div class="icon-block">
            <h1 class="center light-blue-text"><i class="material-icons">domain</i></h1>
            <h2 class="center"><%= link_to 'Stores', stores_path %></h2>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center light-blue-text"><i class="material-icons">business_center</i></h1>
            <h2 class="center"><%= link_to 'Assignment', assignments_path %></h2>
          </div>
        </div>
      </div>
    <br><br>
  <!--</div>-->

  </body>
</html>