<h1>Editing Assignment</h1>

<%= render 'form', assignment: @assignment %>

<%= button_to "Show", @assignment, :style => "background-color: #d147a3 ;color: white; font-size: 16px;",
 :method => :get %>
<br>
<%= button_to "Back", assignments_path, :style => "background-color: #d147a3 ;color: white; font-size: 16px;",
 :method => :get %>