<h1>Editing Flavor</h1>

<%= render 'form', flavor: @flavor %>

<%= button_to "Show", @flavor, :style => "background-color: #d147a3 ;color: white; font-size: 16px;",
 :method => :get %>
<br>
<%= button_to "Back", flavors_path, :style => "background-color: #d147a3 ;color: white; font-size: 16px;",
 :method => :get %>