<h1>Editing Shift</h1>

<%= render 'form', shift: @shift %>

<%= button_to "Show", @shift, :style => "background-color: #d147a3 ;color: white; font-size: 16px;",
 :method => :get %>
<br>
<%= button_to "Back", shifts_path, :style => "background-color: #d147a3 ;color: white; font-size: 16px;",
 :method => :get %>